@import "lesshat.less";
@import "config.less";

input::-webkit-input-placeholder {
    color:    #aaa;
}
input:-moz-placeholder {
    color:    #aaa;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.clearfix {
  display: inline-block;

  &:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
}

.clearblock {
  display: block;

  &:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto (-1 * @footer-height);
  position: relative;
}

footer, .push {
  height: @footer-height;
  clear: both;
}

footer {
  background: transparent;
  color: #222;
  position: relative;

  & > .content {
    width: 320px;
    .box-sizing(border-box);
    padding: 10px;
    text-align: right;
    line-height: 25px;
    border-top: 2px solid #abd6fe;

    a {
      padding: 2px 5px;
      margin-left: 5px;
      color: #222;
      border: 1px solid #888;

      &:hover {
        text-decoration: none;
        border-color: black;
      }
    }
  }
}

#no-results {
  float: left;
  display: none;

  &.visible {
    display: block;
  }

  & > .message {
    margin: 10px;
    padding: 10px;
    background: #E4F2FF;
    .border-radius(5px);
    border: 1px solid #ABD6FE;
  }
}

#loading-results {
  display: none;
  float: left;
  width: 200px;
  text-align: center;

  img {
    margin: 30px 10px 10px;
  }
  &.visible {
    display: block;
  }
}

#results {
  float: left;
  display: none;
  position: relative;

  &.visible {
    display: block;
  }
}

#actor-floater {
  background: none repeat scroll 0 0 #B5C8D9;
  float: right;
  left: 920px;
  position: fixed;
  .border-radius(0 0 5px 0);
  .box-sizing(border-box);

  & > .actor {
    padding: 10px;
    color: #444;
    font-weight: bold;
    font-size: 15px;
  }
}

@import 'control/form.less';
@import 'control/people.less';
@import 'control/movies.less';