#movies-loading {
  display: block;
  margin: 70px auto 0;
  text-align: center;
  display: none;
  &.visible {
    display: block;
  }
}

#movies {
  float: left;
  background: #b5c8d9;
  min-height: 630px;
  width: 400px;

  .movie {
    .box-sizing(border-box);
    .border-radius(5px);
    border: 1px solid #aaa;
    padding: 10px;
    background: white;
    background: rgba(255,255,255,0.8);
    margin: 10px;
    z-index: 200;
    .clearblock;

    &:hover {
      background: white;
      .transform(scale(1.1));
      .box-shadow(0 2px 4px -1px rgba(0,0,0,0.8));
      .transition(all 0.2s ease);
    }

    & > .section > .label {
      display: inline-block;
      width: 75px;
      text-align: right;
      color: #888;
    }

    & > .poster {
      float: left;
    }

    table.info {
      float: left;
      margin: 20px 0 20px 20px;
      max-width: 240px;

      .label {
        text-align: right;
        font-style: italic;
      }

      tr.title {
        .content {
          font-weight: bold;
          font-size: 20px;
          color: #666;
        }
      }
      td {
        padding: 2px;
      }
    }
  }
}
