@people-bg: #639bce;
@people-border-color: #ABD6FE;

#people {
  float: left;
  width: 200px;
  margin-bottom: 10px;

  & > .person {
    display: block;
    padding: 5px 8px;
    white-space: nowrap;
    color: #777;
    text-align: right;

    span {
      padding-right: 10px;
      .transition(left-padding 0.2s ease);
    }
    &:hover {
      color: black;
      cursor: pointer;
    }
    &.active {
      color: black;
      text-shadow: 0 1px 1px #4DA0EF;
      span {
        .transition(all 0.4s ease);
        padding-right: 0px;
      }
    }
  }

  & > .person + .person {
    border-top: 1px solid @people-border-color;
  }
}